html, body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-grow: 0;
    background: #0a0a0a;
}
canvas{
    background: #39504A;
    /* width: 100vw; */
}